body {
  font-family: 'Roboto', sans-serif;

  color: #212121;
}

.box-container {
  display: block;
  align-items: center;
  padding-bottom: 94px;
}
.main-header {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.list-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 10px;
}

.link-jobs {
  padding: 6px 22px 6px 22px;
  background: #f5f4fa;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.link-jobs:active {
  background-color: #2196f3;
}

.link-jobs:hover {
  background-color: #2196f3;
}

.first-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.list-example {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
}

.name-site {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px 4px 24px;
  margin: 0;
}

.name-specialization {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
  color: #212121;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 0 24px 20px 24px;
  margin: 0;
}
